Repository toiroakr/zod-empty: changes, and which lefthook commands are due for each by the changed paths.
All: check, test

check:
  run: git stash -k && npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files} && git stash pop

test:
  run: npm test -- --run

init claude code
  CLAUDE.md
Due: none

feat!: support zod@4 by claude code
  package-lock.json
  package.json
  src/index.spec.ts
  src/index.ts
Due: check, test

feat: update version to 2.0.0 and enhance ZodDefWithShape interface
  package-lock.json
  src/index.ts
  tsconfig.json
Due: check, test

fix READMWE
  README.md
Due: none

improve min/max
  src/index.spec.ts
  src/index.ts
Due: check, test

cleaning
  src/index.ts
Due: check, test

refactor: update init and empty functions to return null instead of undefined for various types
  src/index.spec.ts
  src/index.ts
Due: check, test

refactor: remove handling for ZodNativeEnum in init function
  src/index.ts
Due: check, test

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: check

Notes added by 'git notes add'
  01589904d079a820ed054d2fa91ee0d9a23d5692
Due: none

version up
  package.json
Due: check

Notes added by 'git notes add'
  df942e98e1601a7b1aa5232c37da4b9dfa403d62
Due: none

fix
  .github/workflows/release.yaml
  package.json
Due: check

fix release command
  package.json
Due: check

update README
  README.md
Due: none

feat: upgrade devDependencies TypeScript to 6.0.2
  package-lock.json
  package.json
  tsconfig.cjs.json
  tsconfig.json
Due: check

refactor: migrate build system from tsc to tsdown
  package-lock.json
  package.json
  tsconfig.cjs.json
  tsconfig.esm.json
  tsdown.config.ts
Due: check, test

chore: remove Claude workflow files
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

ci: limit push trigger to main branch only
  .github/workflows/pkg-pr-new.yml
Due: none

ci: add trusted publishing with provenance support
  .github/workflows/release.yml
  package.json
Due: check

fix: skip npm verifyConditions for trusted publishing
  package.json
Due: check

fix: upgrade @semantic-release/npm to v13 for OIDC support
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: check

fix: remove registry-url to enable OIDC trusted publishing
  .github/workflows/release.yml
Due: none

fix: clear NODE_AUTH_TOKEN for OIDC trusted publishing
  .github/workflows/release.yml
Due: none

fix: upgrade to actions v6 and remove NODE_AUTH_TOKEN
  .github/workflows/release.yml
Due: none

fix: upgrade semantic-release to v25 for OIDC support
  package-lock.json
  package.json
Due: check

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: check

Notes added by 'git notes add'
  7c4d01ec9499db95521e3e5840a791b2329b9993
Due: none

ci: migrate from semantic-release to changesets and npm to pnpm
  .changeset/README.md
  .changeset/config.json
  .changeset/thick-toes-eat.md
  .github/workflows/actions/coverage-report/action.yaml
  .github/workflows/biome.yaml
  .github/workflows/pkg-pr-new.yml
  .github/workflows/release.yml
  .github/workflows/test.yaml
  CLAUDE.md
  lefthook.yml
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: check

ci: require Node 22.13+ so CI can run pnpm 11
  .changeset/thick-toes-eat.md
  .github/workflows/pkg-pr-new.yml
  .github/workflows/test.yaml
  package.json
Due: check

ci: introduce Renovate for dependency updates
  renovate.json
Due: check

chore: tighten dependency hygiene alongside Renovate
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: check

docs: correct the changeset requirement
  CLAUDE.md
Due: none

docs: normalize CHANGELOG headings for changesets
  CHANGELOG.md
Due: none

chore: use version ranges for dependencies/devDependencies and bump them via renovate
  package.json
  pnpm-lock.yaml
  renovate.json
Due: check

chore: auto-create changesets for Renovate PRs
  .github/workflows/add-renovate-changeset.yml
  renovate.json
Due: check

fix: split add-renovate-changeset into detect+commit jobs for secrets isolation
  .github/workflows/add-renovate-changeset.yml
Due: none

ci: verify peerDependencies floor versions in CI
  .changeset/verify-peer-deps-floor.md
  .github/workflows/test.yaml
  package.json
Due: check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test: any of: *.{ts,mts,tsx}
